<!DOCTYPE html>
<html>
<head>
	<title>Webview Example</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/material-icon.css">
  <style>
    .fixed-action-btn{
      position: fixed;
      left: 23px !important;
      right: unset !important;
    }
    .menu-item img{
      z-index: -9999;
    }
  </style>
</head>
  <body>
    <div class="container" style="height: 100%;">
      <div class="title galano">
        <h4>Siaga Covid</h4>
      </div>
      <audio src="../assets/audio/welcome.mp3" id="welcome"></audio>
      <div class="menu center">
        <a href="gejala.html" class="btn pink darken-2 menu-item">
          Gejala Covid
          <img src="../assets/img/gejala.png" alt="" width="60" height="75" style="margin-top: -27px;">
        </a>
        <a href="syarat-isoman.html" class="btn pink lighten-1 menu-item">
          Syarat Isoman
          <img src="../assets/img/isoman.png" alt="" width="50" height="60" style="margin-top: -14px;">
        </a>
        <a href="protokol-isoman.html" class="btn pink darken-2 menu-item">
          Protokol Isoman
          <img src="../assets/img/protocol.png" alt="" width="75" height="75" style="margin-top: -29px;">
        </a>
        <a href="kegiatan-harian.html" class="btn pink lighten-1 menu-item">
          Kegiatan Harian
          <img src="../assets/img/kegiatan.png" alt="" width="86" height="60" style="margin-top: -14px;">
        </a>
        <a href="pengingat.html" class="btn pink darken-2 menu-item">
          Pengingat
          <img src="../assets/img/clock.png" alt="" width="60" height="60" style="margin-top: -12px;">
        </a>
        <button class="btn pink darken-2 menu-item" onclick="App.game()">
          Game
          <img src="../assets/img/control.png" alt="" width="60" height="60" style="margin-top: -12px;">
        </button>
      </div>
    </div>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src = "../assets/script.js"></script>
    <script src="../assets/popper.min.js"></script>
    <script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script>
      function firstOpen(){
        let detikan = [3000, 3500, 4200, 2900, 3000]
        let index = 0;
        let interval;
        let waktu = 0;
        setTimeout(()=>{
          $($('.menu-item')[0]).removeClass('pink').addClass('hoverable');
          interval = setInterval(()=>{
            waktu+=100;
            if(waktu==detikan[index]){
              $($('.menu-item')[index+1]).removeClass('pink').addClass('hoverable');
              index++
              waktu=0
            }
            $($('.menu-item')[index-1]).removeClass('hoverable').addClass('pink');
            if(index>=4){
              clearInterval(interval)
              setTimeout(()=>{
                $($('.menu-item')[index]).removeClass('hoverable').addClass('pink');
                index=0
                waktu=0
              }, 2000)
            }
          },100)
        },8000)
        $('#welcome')[0].play()
      }
      if(!sessionStorage.getItem('firstEnter')){
        sessionStorage.setItem('firstEnter', true)
        firstOpen()
      }

      $('.menu-item').toggleClass('animate')
    </script>
  </body>
</html>