<!DOCTYPE html>
<html>
<head>
	<title>Webview Example</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <style>
        .container label{
            font-size: 15px;
            font-style: italic;
            font-weight: bold;
            color: rgb(131, 99, 99);
        }
        .submit{
            border-radius: 10px;
            background-color: rgb(228, 118, 136);
        }
        .subtitle{
            width: 100%;
            padding: 5px 20px;
            color: white;
            font-family: Galano;
            border-radius: 10px;
        }.subtitle span{
            margin: 0;
            font-size: 20px;
        }
    </style>
</head>
  <body>
    <div class="container" style="height: 100%;">
        <div class="title galano">
            <h4>Menu </h4>
            <h4>Pengingat</h4>
        </div>
        <form class="col s12" style="margin-top: 20px;">
          <div class="row">
            <div class="input-field col s12">
              <input id="bangun_tidur" type="time" class="#">
              <label for="bangun_tidur">Bangun tidur jam berapa</label>
            </div>
            <div class="input-field col s12">
                <input id="tidur" type="time" class="#">
                <label for="tidur">Tidur jam berapa</label>
            </div>
            <div class="input-field col s12">
                <input id="makan_pagi" type="time" class="#">
                <label for="makan_pagi">Makan pagi jam berapa</label>
            </div>
            <div class="input-field col s12">
                  <input id="mulai_aktifitas" type="time" class="#">
                  <label for="mulai_aktifitas">Mulai aktivitas diluar rumah jam berapa</label>
            </div>
            <div class="input-field col s12" style="margin-bottom: 5px;">
                  <input id="mulai_aktifitas_rumah" type="time" class="#">
                  <label for="mulai_aktifitas_rumah">Mulai aktivitas di dalam rumah jam berapa</label>
            </div>
            <div class="input-field col s12" style="margin-top: 5px;">
                <button class="btn waves-effect waves-light submit z-depth-3" type="button" onclick="saveData()">Simpan</button>
            </div>
          </div>
        </form>
    </div>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src = "../assets/script.js"></script>
    <script src="../assets/popper.min.js"></script>
    <script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script>
        let result = JSON.parse(App.getData());
        if(result){
            $("#bangun_tidur").val(result[0])
            $("#tidur").val(result[1])
            $("#makan_pagi").val(result[2])
            $("#mulai_aktifitas").val(result[3])
            $("#mulai_aktifitas_rumah").val(result[4])
        }
        function saveData(){
            let array = new Array()
            array.push($("#bangun_tidur").val())
            array.push($("#tidur").val())
            array.push($("#makan_pagi").val())
            array.push($("#mulai_aktifitas").val())
            array.push($("#mulai_aktifitas_rumah").val())
            let aktifitas_luar = $("#mulai_aktifitas").val();
            let jam = parseInt(aktifitas_luar.split(':')[0])
            let menit = parseInt(aktifitas_luar.split(':')[1])
            for(let i =0; i<2;i++){
                jam+=2
                let datajam = ('0'+jam).substr(('0'+jam).length-2,('0'+jam).length);
                array.push(datajam+':'+menit);
            }
            array.push("10:00")
            App.saveData(JSON.stringify(array))
            window.location.href = "index.html"
        }
    </script>
  </body>
</html>